.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
/* .container {
} */
.content {
  position: relative;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  color: #c5c5c5;
  background-color: #000000;
  border-radius: 8px;
  margin: auto;
  padding: 1rem 2.5rem;
  width: 80%;
  background-image: linear-gradient(to right, #1e293b, #0f172a);
}

.open {
  text-align: center;
  background-color: #0979af;
  color: rgb(203 213 225);
  padding: 0 4px;
  border-radius: 0.375rem;
  font-size: 16px;
  width: 100%;
  /* width: 300px; */
  transition: all 150ms ease-in-out;
}
.open:hover,
.open:focus {
  transform: scale(1.05);
}

/* The Close Button */
.close {
  /* transform: translateY(0%); */
  top: 0%;
  color: #c5c5c5;
  right: 1rem;
  position: absolute;
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
}

.close:hover,
.close:focus {
  color: #575757bd;
} /* 
@media (min-width: 768px) {
  .open {
    width: min(100%, 250px);
  }
} */
